    <div class="card">
        <div class="card-header">
        <h3><a class="link" href="/article/{{id}}">{{title}}</a></h3>
            <p>Posted by {{user.username}} on {{moment createdAt format="dddd hh:mm A MMM DD, YYYY"}}</p>
        </div>
        <p class="card-body">{{content}}</p>
    </div>